*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* 
body{
    width: 100%;height: 100vh;
} */

.container{
    width: 40%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow-y: scroll;
    background: black;
    margin:  auto;
}
.profile{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    color:white;
}
.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
    margin:2rem 0;
}
.profile h2{
    font-size: 1.5em;
    margin:0.2rem auto;
}
.profile h2{
    font-size:1rem;
    margin: 0 0.7rem;
}

.navbar{
    width: 100%;
    height: 500px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    font-size:1.5rem;
    margin:2.5rem 0;
    padding: 0 0.7rem;
    position: sticky;
    top: 0;
    background:black;
}
.nav{
    display:flex;
    gap:1rem;
}
.nav1{
    width: 80%;
    height: auto;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    color:white;
    gap: 1rem;
    margin:1rem auto;
}
.contacts {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
}
.alpha {
    width: 95%;
    height: 40px;
    color: black;
    background: red;
    padding: 0 1rem;
    position: sticky;
    top: 2rem;
}
.names{
    width:80%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    color:white;
    gap: 1.5rem;
    margin: 2rem 0;
   
}
.names h3{
    display:flex;
    gap: 1.5rem;
    margin: 0.7rem 0;
}
.alphab{
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(24, 1, 230);
    padding: 0 1rem;
    position: sticky;
    top: 2rem
}
.alphac{
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(107, 139, 190);
    padding: 0 1rem;
    position: sticky;
    top: 2rem   
}
.alphad {
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(41, 255, 219);
    padding: 0 1rem;
    position: sticky;
    top: 2rem
}

.alphae {
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(29, 236, 112);
    padding: 0 1rem;
    position: sticky;
    top: 2rem
}

.alphaf {
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(97, 117, 150);
    padding: 0 1rem;
    position: sticky;
    top: 2rem
}
.alphag {
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(41, 255, 59);
    padding: 0 1rem;
    position: sticky;
    top: 2rem
}

.alphah {
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(0, 78, 204);
    padding: 0 1rem;
    position: sticky;
    top: 2rem
}

.alphai{
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(26, 255, 0);
    padding: 0 1rem;
    position: sticky;
    top: 2rem
}

.alphaj{
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(126, 146, 113);
    padding: 0 1rem;
    position: sticky;
    top: 2rem
}

.alphak {
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(255, 55, 41);
    padding: 0 1rem;
    position: sticky;
    top: 2rem
}
.alphal {
    width: 95%;
    height: 40px;
    color: black;
    background: rgb(132, 115, 21);
    position: sticky;
    top: 2rem
}